<app-header></app-header>

<div class="game-page-container">
  <div class="game-page-wrapper">
    
    <div class="game-page-header">
      <div class="game-icon-badge sudoku-theme">
        <i class="fa fa-table"></i>
      </div>
      <h1 class="game-page-title">Sudoku</h1>
      <p class="game-page-subtitle">Number puzzle brain teaser challenge</p>
    </div>
    
    <div class="game-content-card">
      <div class="sudoku-board">
        <div class="board-row" *ngFor="let r of board; let i = index">
          <div class="board-col" *ngFor="let j of board[i]; let k = index">
            {{board[i][k]}}
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
