<header class="modern-header">
  <div class="header-container">
    <div class="logo-section">
      <img src="assets/brain-games-icon.svg" alt="Brain Games Logo" class="logo-image">
      <span class="logo-text">
        <span class="brand-name">Brain</span>
        <span class="brand-accent">Games</span>
      </span>
    </div>
    
    <nav class="main-nav">
      <a routerLink="/games" routerLinkActive="active" class="nav-link">
        <i class="fa fa-gamepad"></i>
        <span>Games</span>
      </a>
      <a routerLink="/angular" routerLinkActive="active" class="nav-link">
        <i class="fa fa-code"></i>
        <span>Angular</span>
      </a>
      <a routerLink="/html" routerLinkActive="active" class="nav-link">
        <i class="fa fa-html5"></i>
        <span>HTML</span>
      </a>
      <a routerLink="/javascript" routerLinkActive="active" class="nav-link">
        <i class="fa fa-coffee"></i>
        <span>JavaScript</span>
      </a>
      <a routerLink="/css" routerLinkActive="active" class="nav-link">
        <i class="fa fa-paint-brush"></i>
        <span>CSS</span>
      </a>
    </nav>
    
    <div class="user-section">
      <button class="logout-btn" routerLink="/login">
        <i class="fa fa-sign-out"></i>
        <span>Logout</span>
      </button>
    </div>
  </div>
</header>

