<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-bold" href="#">
      <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="Logo" width="50" >
      <span class="text-upper">
        Brain Games
      </span> 
    </a>
    <span style="float:right" class="text-bold">
      <a routerLink="/login">Logout</a>
    </span>
  </div>
</nav>

<nav class="nav-container">
  <!-- <a routerLink="/dashboard">Dashboard</a> -->
  <a routerLink="/games">Games</a>
  <a routerLink="/angular">Angular</a>  
</nav>

