.chess-block {
    position: fixed;
    top: 156px;
    /* left: 0; */
    width: 640px;
    height: 640px;
    border: 1px solid black;

}

.chess-block::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(0deg, #000 0, #000 80px, #fff 80px, #fff 160px);
    background-color: black;
}

.chess-block::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(90deg, #000 0, #000 80px, #fff 80px, #fff 160px);
    mix-blend-mode: difference;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}