<div class="game-page-container">
  <div class="game-page-wrapper">
    
    <div class="game-content-card">
      <form class="dice-form">
        <div class="user-details">
          <div class="input-group">
            <label class="input-label">
              <i class="fa fa-user"></i>
              Enter Player Name
            </label>
            <input type="text" name="username" [(ngModel)]="username" class="modern-input" placeholder="Your name...">
          </div>
          <div class="button-container">
            <button class="game-btn primary" type="submit" (click)="createDices()">
              <i class="fa fa-dice"></i>
              <span>Roll Dice</span>
            </button>
            <button class="game-btn secondary" type="submit" (click)="restartGame()">
              <i class="fa fa-refresh"></i>
              <span>Restart</span>
            </button>
          </div>
        </div>
        
        <div class="main">
          <div class="alert-message success" *ngIf="winner">
            <i class="fa fa-trophy"></i>
            <span>You got 100 score - you are the winner of this match!</span>
          </div>
          <div class="alert-message warning" *ngIf="lost">
            <i class="fa fa-exclamation-triangle"></i>
            <span>You got 1,1,1 on 3 dices, please continue again</span>
          </div>
          <div class="alert-message error" *ngIf="errorMsg">
            <i class="fa fa-exclamation-circle"></i>
            <span>{{errorMsg}}</span>
          </div>
          
          <div class="" *ngIf="dices.length">
            <div class="score-board">
              <span class="score-label">Current Score:</span>
              <span class="score-value">{{currentDicesNumberCount}}</span>
            </div>
            <div class="dice-container">
              <div *ngFor="let dice of dices" class="dice-item">
                <div class="dice">
                  {{dice.number}}
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="users-list" *ngIf="users.length">
          <h2 class="section-title">
            <i class="fa fa-trophy"></i>
            Player's Score Board
          </h2>
          <div *ngFor="let user of users;let i = index" class="user">
            <span class="rank">{{i+1}}</span>
            <span class="player-name">{{user.username}}</span>
            <span class="score">{{user.score}}</span>
          </div>
        </div>
      </form>
    </div>
    
  </div>
</div>
  