body {
    padding: 15px;
    margin: 0;
  }
  
  .form-progress-bar {
    height: 100%;
    background-color: #007bff;
  }
  
  .form-progress-bar-wrapper {
    width: 100%;
    height: 1rem;
    background-color: #e8ebee;
  }
  