<app-header></app-header>
    <div class="container">
      <div class="row mt-1 align-items-start">
        <div class="col">
          <input placeholder="Document Name" id="documentName" type="text" />
        </div>
      </div>
      <div class="row mt-2 align-items-start">
        <div class="col float-start">Select Document Type</div>
        <div class="col">
          <select id="documentType">
            <option value="" selected></option>
            <option value="Plain">Plain</option>
            <option value="PDF">PDF</option>
          </select>
        </div>
      </div>
      <div class="row mt-2 align-items-start">
        <div clas="col">Select Category</div>
        <div class="col float-end">
          <select id="category">
            <option value="" selected></option>
            <option value="Audit">Audit</option>
            <option value="Application">Application</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div>
          <div class="row mt-2 ml-3">
            <input type="email" placeholder="Enter Email" id="email" />
          </div>
        </div>
      </div>
    </div>